name: Health check

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  deployment_health_check:
    runs-on: ubuntu-18.04
    steps:
      - name: Check the deployment URL
        uses: jtalk/url-health-check-action@v2
        with:
        # Check main page and single pokemon page
          url: https://warm-woodland-49722.herokuapp.com/|https://warm-woodland-49722.herokuapp.com/pokemon/bulbasaur